<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.notes_app_mvvm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Notes_app_MVVM">
        <activity
            android:label="@string/update_notes"
            android:name=".Activity.UpdateNotesActivity"
            android:exported="false" />
        <activity
            android:label="@string/New_notes"
            android:name=".Activity.InsertNotesActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.splashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>